.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input {
    height: 20px;
    font-size: 15px;
}

.form button {
    height: 30px;
    background-color: #ccc;
    font-size: 20px;
}